networks:
  trust-score:
    driver: bridge

services:
  payload-prd:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: payload-prd
    restart: unless-stopped
    env_file:
      - .env.production
    ports:
      - 3001:3000
    networks:
      - trust-score
    volumes:
      - ./media:/app/media

  payload:
    image: node:22.17.0-alpine
    container_name: payload
    working_dir: /app/
    command: >
      sh -c "
      corepack enable && 
      corepack prepare pnpm@latest --activate &&
      pnpm config set store-dir /pnpm/store &&
      pnpm install &&
      pnpm run dev"
    restart: unless-stopped
    volumes:
      - .:/app
      - ~/Library/pnpm/store:/pnpm/store
      - /app/node_modules
      - /app/.next
    ports:
      - 3000:3000
    networks:
      - trust-score

  mongo:
    image: mongo:latest
    container_name: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    networks:
      - trust-score