networks:
  universe:
    external: true

services:
  payload:
    image: node:22.17.0-alpine
    container_name: payload
    working_dir: /app/
    command: >
      sh -c "
      corepack enable && 
      corepack prepare pnpm@latest --activate &&
      pnpm config set store-dir /pnpm/store &&
      pnpm install &&
      pnpm run dev"
    restart: unless-stopped
    volumes:
      - .:/app
      - ~/Library/pnpm/store:/pnpm/store
      - /app/node_modules
      - /app/.next
      - /.env
    expose:
      - 3000
    ports:
      - 3001:3000
    environment:
      DATABASE_URI: mongodb://root:root@mongo:27017/payload?authSource=admin
      SMTP_HOST: mailpit
      SMTP_PORT: 1025
      DISABLE_LOCAL_STRATEGY: false
    networks:
      - universe