networks:
  universe:
    external: true

services:
  clickhouse-server:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse-server
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    environment:
        CLICKHOUSE_USER: default
        CLICKHOUSE_PASSWORD: default
    volumes:
      - ./data/clickhouse/logs:/var/log/clickhouse-server
    networks:
      - universe
    ports:
      - 8123:8123
      - 9010:9000

  clickhouse-client:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse-client
    entrypoint: clickhouse-client
    network_mode: service:clickhouse-server
    stdin_open: true
    tty: true